<link rel="stylesheet" href="/stylesheets/bootup.css">


<div id="onldc" class="onloading-container">
    <div class="load-logo">
      <img src="/images/graphics/mac logo.png" alt="">
    </div>
    <div class="load-ldng">
      <img src="/images/graphics/loading.png" alt="">
    </div>
  </div>

  

<script src="/javascripts/bootup.js"></script>
