<!--LOWER DOCKER -->
<link rel="stylesheet" href="stylesheets/bottomdocker.css">

<div class="mac-container" id="mac-cont">
    <div class="docker-container" id="docker-container-id">
      <div id="docker-inner-cont">
        <div class="docker-conn">
          <img id="abc" src="/images/graphics/dockerbg.png" alt="">
          <ul>
            <li><img class="dcimg abo-doc dokrimg01" src="/images/docker icons/About.png" alt=""></li>
            <li><img class="dcimg aca-doc dokrimg02" src="/images/docker icons/academics.png" alt=""></li>
            <li><img class="dcimg ski-doc dokrimg03" src="/images/docker icons/skills.png" alt=""></li>
            <li><img class="dcimg lan-doc dokrimg04" src="/images/docker icons/Languages.png" alt=""></li>
            <li><img class="dcimg sof-doc dokrimg05" src="/images/docker icons/softwares.png" alt=""></li>
            <li><img class="dcimg exp-doc dokrimg06" src="/images/docker icons/experience.png" alt=""></li>
            <li><img class="dcimg pro-doc dokrimg07" src="/images/docker icons/projects.png" alt=""></li>
            <li><img class="dcimg ach-doc dokrimg08" src="/images/docker icons/acheivements.png" alt=""></li>
            <li><img class="dcimg cou-doc dokrimg09" src="/images/docker icons/courses.png" alt=""></li>
            <li><img class="dcimg hob-doc dokrimg10" src="/images/docker icons/hobbies.png" alt=""></li>
            <li><img class="dcimg con-doc dokrimg11" src="/images/docker icons/connect.png" alt=""></li>
            <li><img class="dcimg gal-doc dokrimg12" src="/images/docker icons/gallery.png" alt=""></li>
            <li><img class="dcimg res-doc dokrimg13" src="/images/docker icons/resume.png" alt=""></li>
            <li><img class="dcimg help-doc dokrimg14" src="/images/docker icons/help.png" alt=""></li>
            <li><img class="dcimg cont-doc dokrimg15" src="/images/docker icons/contactme.png" alt=""></li>
            <li><img class="dcimg blog-doc dokrimg16" src="/images/docker icons/blog.png" alt=""></li>
            <li><img class="dcimg thi-doc dokrimg17"  src="/images/docker icons/thinkbin.png" alt=""></li>
          </ul>
        </div>
      </div>
</div>


<div class="demo-container">
<div class="demo-conn" id="demo-conn">
  <div class="dc-lower">
    <ul>
      <li class="doc-demo dem-lst01">About</li>
      <li class="doc-demo dem-lst02">Academics</li>
      <li class="doc-demo dem-lst03">Skills</li>
      <li class="doc-demo dem-lst04">Languages</li>
      <li class="doc-demo dem-lst05">Softwares</li>
      <li class="doc-demo dem-lst06">Experience</li>
      <li class="doc-demo dem-lst07">projects</li>
      <li class="doc-demo dem-lst08">acheivements</li>
      <li class="doc-demo dem-lst09">Courses</li>
      <li class="doc-demo dem-lst10">hobbies</li>
      <li class="doc-demo dem-lst11">connect</li>
      <li class="doc-demo dem-lst12">Gallery</li>
      <li class="doc-demo dem-lst13">Resume</li>
      <li class="doc-demo dem-lst14">Help?</li>
      <li class="doc-demo dem-lst15">Contact</li>
      <li class="doc-demo dem-lst16">Blogs</li>
      <li class="doc-demo dem-lst17">ThinkBin</li>
    </ul>
  </div>
</div>
</div>

  </div>

  <script src="/javascripts/bottomdocker.js"></script>