<!--LOWER DOCKER -->
<link rel="stylesheet" href="stylesheets/bottomdocker.css">

<div class="mac-container" id="mac-cont">
    <div class="docker-container" id="docker-container-id">
      <div id="docker-inner-cont">
        <div class="docker-conn">
          <ul>
            <li>
              <span class="doc-demo">About</span>
              <img class="dcimg" id="abo-doc" src="/images/docker icons/About.png" alt=""></li>
            <li>
              <span class="doc-demo">Academics   </span>
              <img class="dcimg" id="aca-doc" src="/images/docker icons/academics.png" alt=""></li>
            <li>
              <span class="doc-demo">Skills      </span>
              <img class="dcimg" id="ski-doc" src="/images/docker icons/skills.png" alt=""></li>
            <li>
              <span class="doc-demo">Languages   </span>
              <img class="dcimg" id="lan-doc" src="/images/docker icons/Languages.png" alt=""></li>
            <li>
              <span class="doc-demo">Softwares   </span>
              <img class="dcimg" id="sof-doc" src="/images/docker icons/softwares.png" alt=""></li>
            <li>
              <span class="doc-demo">Experience  </span>
              <img class="dcimg" id="exp-doc" src="/images/docker icons/experience.png" alt=""></li>
            <li>
              <span class="doc-demo">projects    </span>
              <img class="dcimg" id="pro-doc" src="/images/docker icons/projects.png" alt=""></li>
            <li>
              <span class="doc-demo">acheivements</span>
              <img class="dcimg" id="ach-doc" src="/images/docker icons/acheivements.png" alt=""></li>
            <li>
              <span class="doc-demo">Courses     </span>
              <img class="dcimg" id="cou-doc" src="/images/docker icons/courses.png" alt=""></li>
            <li>
              <span class="doc-demo">hobbies     </span>
              <img class="dcimg" id="hob-doc" src="/images/docker icons/hobbies.png" alt=""></li>
            <li>
              <span class="doc-demo">connect     </span>
              <img class="dcimg" id="con-doc" src="/images/docker icons/connect.png" alt=""></li>
            <li>
              <span class="doc-demo">Gallery     </span>
              <img class="dcimg" id="gal-doc" src="/images/docker icons/gallery.png" alt=""></li>
            <li>
              <span class="doc-demo">Resume      </span>
              <img class="dcimg" id="res-doc" src="/images/docker icons/resume.png" alt=""></li>
            <li>
              <span class="doc-demo">Help?       </span>
              <img class="dcimg" id="help-doc" src="/images/docker icons/help.png" alt=""></li>
            <li>
              <span class="doc-demo">Contact     </span>
              <img class="dcimg" id="cont-doc" src="/images/docker icons/contactme.png" alt=""></li>
            <li>
              <span class="doc-demo">Blogs       </span>
              <img class="dcimg" id="blog-doc" src="/images/docker icons/blog.png" alt=""></li>
            <li>
              <span class="doc-demo">ThinkBin    </span>
              <img class="dcimg" id="thi-doc"  src="/images/docker icons/thinkbin.png" alt=""></li>
          </ul>
        </div>
      </div>
</div>

  </div>

  <script src="/javascripts/bottomdocker.js"></script>