<link rel="stylesheet" href="/stylesheets/sidebar.css">

<div class="opend-window">

    <div class="ryt-nav-bar" id="rnavbar">
      <div class="rnb-container">
        <div class="rnbcon rnbc01">
          <div id="rnbcb-name" class=rnbcb-name>
            <span>Background Image</span>
          </div>
          <div class="rnb-chs-bdimg">
            <div id="rnbcb-imgs" class="rnbcb-imgs">
              <ul>
                <li><img class="bckimg bdimag01" src="images/mac wallpapers/ab.jpg" alt=""> </li>
                <li><img class="bckimg bdimag02" src="images/mac wallpapers/aba.jpg" alt=""> </li>
                <li><img class="bckimg bdimag03" src="images/mac wallpapers/adfa.jpg" alt=""> </li>
                <li><img class="bckimg bdimag04" src="images/mac wallpapers/asda.jpg" alt=""> </li>
                <li><img class="bckimg bdimag05" src="images/mac wallpapers/sa.jpg" alt=""> </li>
                <li><img class="bckimg bdimag06" src="images/mac wallpapers/sd.jpg" alt=""> </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="rnbcon rnbc02">
          <div id="rnbcb-name" class="rnbcb-name">
            <span>Visitor's Count</span>
          </div>
          <div class="rnb-vc">
            <a class="hitCounter" href="" target="_blank">
              <img src="https://www.webfreecounter.com/hit.php?id=geuxfkkn&nd=6&style=12" border="0" alt="web counter">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/sidebar.js"></script>