<link rel="stylesheet" href="/stylesheets/topmenubar.css">

<!--UPPER DOCKER -->
<div class="upper-docker-conn" id="upr-dkr-conn">
    <div class="up-do-container" id="up-do-conn-id">
      <div class="udl-hint">
        <ul>
          <li class="udlht udlhnt01" id="abme-hnt"><span>&#9650;</span>About Me</li>
          <li class="udlht udlhnt03" id="res-hnt"><span>&#9650;</span>Download Resume</li>
<!--
          <li class="udlht udlhnt04" id="cont-hnt" style="width:130px">
            <span>&#9650;</span>Will be glad! to connect with you
          </li>
          <li class="udlht udlhnt05" id="hlp-hnt">Need<span>&#9650;</span>Help?</li>
-->
        </ul>
      </div>
      <div class="up-do-left">
        <ul>
          <li><div id="up-do-logo">
            <img src="/images/docker icons/apple.png" alt="">
          </div></li>
          <li><div id="opn-wndw">
            <span class="abo-doc hnthvr udllst01">@<%= data[0].user %></span>
          </div></li>
          <li><div id="up-do-menu">
            <ul>
              <li class="abo-doc hnthvr udllst02">Blog</li>
              <li class="abo-doc hnthvr udllst03">Resume</li>
              <li class="abo-doc hnthvr udllst04">Contact Me</li>
              <li class="abo-doc hnthvr udllst05">Help</li>
            </ul>
          </div></li>
        </ul>
      </div>

      <div class="up-do-right">
        <div id="udr-id">
          <ul>
            <li><img id="ryt-menu-nav" src="/images/docker icons/menu.png" alt=""></li>
            <li><img src="/images/docker icons/search.png" alt=""></li>
            <li><img src="/images/docker icons/terminal.png" alt=""></li>
            <!-- <li><div id="clockbox"></div></li> -->
            <li><div id=""><%= data[0].time %> </div></li>
            <li><img src="/images/docker icons/battery.png" alt=""></li>
            <li><span style="margin-right: -3px;"><%=data[1].percent%>%</span></li>
            <li><img style="transform: scale(.7);top:1px;" src="/images/docker icons/wifi.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/topmenubar.js"></script>