.top-menu-bar {
  position: absolute;
  width: 100%;
  height: 25px;
  background: #5d5a53;
  color: #fff
}

.up-do-left {
  position: absolute;
  width: 60%;
  overflow: hidden;
  background: none
}

.up-do-left ul li, .up-do-menu ul li {
  position: relative;
  float: left;
  list-style: none;
  margin: 0 8px;
  font-size: .88em;
  padding: 2px 0
}

#up-do-logo img {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  padding-left: 18px
}

#opn-wndw span {
  font-weight: 700
}

.up-do-right {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  overflow: hidden;
  padding-right: 14px
}

#udr-id ul li {
  float: right;
  list-style: none;
  position: relative;
  top: 2px;
  margin: 0 10px
}

.abo-doc:hover, .onHover:hover {
  cursor: pointer
}

#udr-id ul li span {
  position: relative;
  font-size: 1em;
  top: -2px
}

#udr-id ul li img {
  position: relative;
  width: 21px;
  height: 21px;
  margin: 0 10px
}

.udl-hint {
  position: absolute;
  width: 60%;
  text-align: center
}

.udl-hint ul li {
  position: absolute;
  width: 90px;
  top: 30px;
  float: left;
  list-style: none;
  margin: 4px 8px;
  background: #fff;
  color: #000;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: .85em;
  padding: 3px 7px;
  cursor: pointer;
  display: none
}

#abme-hnt {
  left: 60px
}

#res-hnt {
  left: 220px
}

#cont-hnt {
  left: 280px
}

#hlp-hnt {
  left: 320px
}

.docker-container {
  position: absolute;
  background: none;
  width: 100%;
  transform: translate(50%);
  height: 6.5%;
  transition: 1s;
  z-index: 5;
  bottom: 0
}

#docker-inner-cont {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  transform: translate(-50%);
  height: 100%;
  border-radius: 8px 8px 0 0;
  border: 1px solid hsla(0, 0%, 80.4%, .2);
  background: rgba(255, 255, 255, .12);
}

.docker-conn ul li {
  position: relative;
  float: left;
  text-decoration: none;
  list-style: none;
  top: 0;
  height: 4vh;
  margin: 3.2px;
  padding: 6px;
  margin-top: 0px;
}

.docker-conn ul li img {
  width: 5vh;
  height: 5vh;
  z-index: 5
}

.docker-conn ul li:hover img {
  cursor: pointer;
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4)
}

.docker-conn ul li span {
  position: absolute;
  background: #fff;
  transform: translateY(-50%);
  width: 64px;
  border-radius: 20px;
  text-align: center;
  transition: .5s;
  border-top: 0 solid #424242;
  font-size: 0;
  top: 0;
}