.top-menu-bar{
    position: absolute;
    width: 100%;
    height: 25px;
    background: #5d5a53;
    color: white;
}

  .up-do-left{
    position: absolute;
    width: 60%;
    overflow: hidden;
    background: none;
  }
  .up-do-left ul li, .up-do-menu ul li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0px 8px;
    font-size: .88em;
    padding: 2px 0px;
  }
  #up-do-logo img{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    padding-left: 18px;
  }
  
  #opn-wndw span{
    font-weight: bold;
  }
  .up-do-right{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    overflow: hidden;
    padding-right: 14px;
  }
  #udr-id ul li{
    float: right;
    list-style: none;
    position: relative;
    top: 2px;
  }
  
  #udr-id ul li span{
    position: relative;
    font-size:.86em;
    top:-1px;
  }
  #udr-id ul li img{
    position: relative;
    width: 21px;
    height: 21px;
    margin: 0px 13px;
  }

  
/* Up Docker Hint */

.udl-hint{
  position: absolute;
  width: 60%;
  text-align: center;
}
.udl-hint ul li{
  position: absolute;
  width: 90px;
  top: 30px;
  float: left;
  list-style: none;
  margin: 4px 8px;
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: .85em;
  padding: 3px 7px;
  cursor: pointer;
  display: none;
}
#abme-hnt{
  left: 60px;
}
#res-hnt{
  left: 220px;
}
#cont-hnt{
  left: 280px;
}
#hlp-hnt{
  left: 320px;
} 





/* /////////   LOWER DOCKER   //////// */


.docker-container{
    position: absolute;
    /* bottom: -10%; */
    bottom: 0%;
    background: none;
    width: 100%;
    transform: translate(50%, 0%);
    height: 6.5%;
    transition: 1s;
    z-index: 5;
  }
  #docker-inner-cont{
    position: absolute;
    width: max-content;
    transform: translate(-50%, 0%);
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(205,205,205,0.2);
    background: rgba(255, 255, 255, .12);
  
  }

  .docker-conn ul li{
    position: relative;
    float: left;
    text-decoration: none;
    list-style: none;
    top: 0;
  }
  .docker-conn ul li img{
    margin-top: 3px;
    margin: 9.2px;
    width: 46px;
    height: 46px;
    z-index: 5;
  }
  .docker-conn ul li:hover img{
    cursor: pointer;
    filter: brightness(1.4);
  }


  
/* LOWER DOcker Hint*/
.docker-conn ul li span{
  position: absolute;
  background: white;
  transform: translate(0%, -50%);
  width: 64px;
  border-radius: 20px;
  text-align: center;
  transition: .5s;
  border-top: 0px solid #424242;
  font-size: 0em;
}