/* Right side Navigation  */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: none;
      }
    .ryt-nav-bar{
      position: absolute;
      float: right;
      right: 0;
      width: 0;
      height: calc(100% - 8.5% - 25px);;
      top: 25px;
      background: #999;
      z-index: 5;
      overflow: hidden;
    }
    .rnb-container{
      position: relative;
      width: 90%;
      height: calc(100% - 25px);
      margin: 0 5%;
      background: none;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;
    }
    .rnbcon{
        position: relative;
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 10px;
        background: #666;
        text-align: center;
        margin-top: 25px;
    }
    .rnb-note{
      position: relative;
      text-align: left;
      padding: 5px;
      text-justify: inter-cluster;
      font-size: .8em;

    }
    .rnb-note:hover{
      color: black
    }
    .rnbcon:hover{
      background: #bbb;
    }
    .rnbc01{
      height: 18%;
    }
    .rnb-chs-bdimg{
      position: absolute;
      width: 95%;
      height: 156px;
      margin: 0px 8px;
      overflow-y: scroll;
      scrollbar-width: none;
      cursor: pointer;
    }
    .rnbcb-name{
      background: #555;
      border-radius: 10px 10px 0px 0px;
      padding: 3px 10px;
      font-size: .80em;
    }
    .rnbcon:hover .rnbcb-name{
      background: #777;
    }
    .rnbcb-imgs{
      position: absolute;
      width:max-content;
      height: 100%;
    }
    .rnbcb-imgs ul li{
      list-style: none;
      float: left;
    }
    .rnbcb-imgs ul li img{
      position: relative;
      transform: translate(0%, 0%);
      margin: 12px 10px;
      width: 200px;
      height: 110px;
      cursor: pointer;
    }
    .rnbc02{
      position: relative;
      height: 9%;
      text-align: center;
    }
    .hitCounter{
      position: relative;
      top: 10px;
    }

    .rnbc03{
      position: relative;
      height: 6%;
    }
    .open-feedback{
      position: relative;
      margin: 40px;
      width: 100%;
      height: 100%;
    }
    
    .rnbc04, .rnbc-05 {
      position: relative;
      height: min-content;
    }
    .song-name{
     font-size: 1.2em;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 1; /* number of lines to show */
     -webkit-box-orient: vertical;
    }
