
/* LOWER DOCKER */

.docker-container{
    position: absolute;
    bottom: -10%;
    background: none;
    width: 100%;
    transform: translate(50%, 0%);
    height: 6.5%;
    transition: 1s;
    z-index: 5;
  }
  #docker-inner-cont{
    position: absolute;
    width: max-content;
    transform: translate(-50%, 0%);
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(205,205,205,0.2);
    background: rgba(255, 255, 255, .12);
  
  }

  .docker-conn ul li{
    position: relative;
    float: left;
    text-decoration: none;
    list-style: none;
    top: 0;
  }
  .docker-conn ul li img{
    margin-top: 3px;
    margin: 9.2px;
    width: 46px;
    height: 46px;
    z-index: 5;
  }
  .docker-conn ul li:hover img{
    cursor: pointer;
    filter: brightness(1.4);
  }


  
/* LOWER DOcker Hint*/
.docker-conn ul li span{
  position: absolute;
  background: white;
  transform: translate(0%, -50%);
  width: 64px;
  border-radius: 20px;
  text-align: center;
  font-size: 0.7em;
  transition: .5s;
}