
/* upper docker */

.upper-docker-conn{
    position: absolute;
    width: 100%;
    height: 2.5%;
    top: -5%;
    background: #5d5a53;
    color: white;
    z-index: 4;
  }
  .up-do-left{
    position: absolute;
    float: left;
    width: 60%;
    overflow: hidden;
  }
  .up-do-left ul li, .up-do-menu ul li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0px 8px;
    font-size: .88em;
    padding: 2px 0px;
  }
  #up-do-logo img{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    padding-left: 18px;
  }
  #opn-wndw span{
    font-weight: bold;
  }
  .up-do-right{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    overflow: hidden;
    padding-right: 14px;
  }
  #udr-id ul li{
    float: right;
    list-style: none;
    position: relative;
    top: 2px;
  }
  
  #udr-id ul li span{
    position: relative;
    font-size:.86em;
    top:-1px;
  }
  #udr-id ul li img{
    position: relative;
    width: 21px;
    height: 21px;
    margin: 0px 13px;
  }

  
/* Up Docker Hint */

.udl-hint{
  position: absolute;
  width: 60%;
  text-align: center;
  z-index: 10;
}
.udl-hint ul li{
  position: absolute;
  width: 90px;
  top: 30px;
  float: left;
  list-style: none;
  margin: 4px 8px;
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: .85em;
  padding: 3px 7px;
  cursor: pointer;
  display: none;
}
.udl-hint ul li span{
  position: relative;
  top: -16px;
  color : white;
}
#abme-hnt{
  left: 60px;
}
#res-hnt{
  left: 220px;
}
#cont-hnt{
  left: 280px;
}
#hlp-hnt{
  left: 320px;
}
