#test1 ul li{
    position: relative;
    transform: translate(30%, 10%);
    float: left;
    margin: 80px;    
    scale: 4;
    list-style: none;
}
#test1 ul li img{
    position: relative;
    transform: translate(-150%,-50%);
    width: 20px;
    height: 20px;
}