.wind-up-low{
    position: absolute;
    width: 100%;
    background: none;
    height: 30px;
    top:0px;
    z-index: 10;
  }
.wul-conn{
  position: relative;
  width: 100%;
  height: 30px;
  background-color: rgb(53, 52, 52);
  cursor: pointer;
}
.wul-conn ul li {
  float: left;
  list-style: none;
  width: 33.33%;
}
.wul-conn ul li img{
  position: relative;
  height: 30px;
}
.wbackleft{
  width: 100px;
  left: 0;
}
.wbackmid{
  position: relative;
  width: 500px;
  transform: translate(20%);
}
.wbackright{
  position: relative;
  width: 250px;
  right: -5%;
}

.wdt-left{
    position: absolute;
    top:0; left: 0;
    width: 210px;
    background: #666465;
    height: 93%;
    color: white;
    z-index: 9;
    padding-top: 50px;
    padding-right: 25px; 
  }
  #ll-id ul li img,
  #sl-id ul li img,
  #al-id ul li img,
  #pl-id ul li img{
    position: relative;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 4px;
  }
  #ll-id ul li,
  #sl-id ul li,
  #al-id ul li,
  #pl-id ul li{
    cursor: pointer;
  }
  .fileContainer ul li{
     list-style: none;
     float: left;
  }
  .llc{
    position: relative;
    left: 17px;
    filter: opacity(.8);
    font-size: .9em;
    margin-top: 15px;
  }
  .ulul{
    position: relative;
    font-size: 1em;
    left: 30px;
  }

  .task1{
    position: relative;
    left: 15%;
    top: 50%;
  }
  
  .wdt-right{
    position: absolute;
    top:0; right: 0;
    width: calc(100% - 235px);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(39, 39, 39);
    z-index: 8;
  }

  .wdt-right::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wdt-right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  

  .fileContainer {
    position:absolute;
  }
  .fileContainer ul li {
    width:160px;
    height:200px;
    word-wrap: break-word;
    margin-right:10px;
    text-align:center;
    float:left;
  }
  .foldername {
    position:relative;
    color:white;
    border-radius: 3px;
    padding: 0px 5px;
  }
  .foldericonselect {
    filter:brightness(70%);
  }
  .foldernameselect{
    background-color: dodgerblue;
  }

