

<!-- About Explorer -->
<div id="abo-window" class="wind-con wind-conn opnwin01">
      <div id="wind-up-tab">
        <span id="closetab" class="closetab clstb01"><img src="/images/graphics/close.png" alt=""></span>
        <span id="minimztab" class="minimztab mmt01"><img src="/images/graphics/minimz.png" alt=""></span>
        <span id="tabsize" class="tabsize tbsz01"><img src="/images/graphics/tabsz.png" alt=""></span>
      </div>
      <div id="tab-name">
        <img src="/images/docker icons/help.png" alt="">
        <span>About</span>
      </div>
      <div id="wind-ter-conn">
          <div id="aboutme-conn">
            <div class="aboutme">
              <div id="about-left">
                <div class="aboutimg">
                  <div id="ab-myimage">
                    <img src="/images/kartik tyagi images/myimage.jpg" alt="kartik Tyagi" >
                  </div>
                </div>
                <div class="about-link">
                  <div class="lin-conta">
                    <div class="sociallinks">
                      <a href="https://www.facebook.com/tom.gerry.12327" target="_blank">
                        <img src="/images/graphics/facebook.png" alt="" width="25px" height="25px">
                      </a>
                      <a href="https://www.instagram.com/genialkartik/" target="_blank">
                        <img src="/images/graphics/insta.png" alt="" width="25px" height="25px">
                      </a>
                      <a href="https://www.linkedin.com/in/kartik-tyagi-749075190/" target="_blank">
                        <img src="/images/graphics/linkedin.png" alt="" width="25px" height="25px">
                      </a>
                      <a href="https://twitter.com/genialkartik" target="_blank">
                        <img src="/images/graphics/twitter.png" alt="" width="25px" height="25px">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="about-right">
                <div class="name">
                  <span><b>Kartik Tyagi<b></span>
                    <br>
                    <span id="name-hin">कार्तिक त्यागी</span>
                </div>
                <div class="lineaboutme">
                  <p>I, Kartik Tyagi, born in Uttar Pradesh, India.<br>
                    At the age of 22, I'm a Mean Stack Developer,
                    Mozillian from India <br> ( one among the earliest
                    known people who're responsible for Mozilla Punjab Community),
                    <br> LPUian (B.Tech CSE at Lovely Professional University, Punjab),
                    <br> Contributor in Localization (Hindi),
                    responsive in Community building and engagement.
                    <br><br>In the meantime, I love to help people in whatever way possible.
                    Like to share Knowledge with others.<br><br> Kindly,
                    drop an <a href="mailto:kartik9756@gmail.com"
                    style="color:#2E9AFE; text-decoration: none;">Email</a> in case of any query.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
