.galleryconn{
    position:relative;
    width: 92%;
    left:6%;
    z-index: 0;
  }
  .galleryconn  li img{
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: grayscale(1);
   border-radius: 10px;
   transition-duration: 1s;
  }
  .galleryconn li img:hover{
   filter: grayscale(0);
   transform: scale(3);
   z-index: 1;
   object-fit: contain;
  }
  .boximg{
    position: relative;
    float: left;
    margin: 19px;
    list-style: none;
    width: 120px;
    height: 120px;
  }
  @media only screen and (max-width:500px){
    .boximg{
      position: relative;
      width:110px;
      height: 110px;
    }
    .galleryconn{
      padding-top: 70px;
    }
    .galleryconn  li img{
     position: relative;
     width: 100%;
     height: 100%;
   }
  }

  /* Softwares */

  .soft-cont ul li{
    position: relative;
    width: 180px;
    height: 200px;
    float: left;
    margin: 20px;
    list-style: none;
    color: white;
    text-align: center;
  }
  .soft-cont ul img{
    width: 180px;
    height: 160px;
  }
  .soft-cont ul label{
    width: 100px;
    height: 40px;
    font-size: 1.2em;
  }